* {
  margin: 0px;
  padding: 0px;
}
body {
  background-color: #fff;
}
header {
  background-color: skyblue;
  line-height: 70px;
  padding-left: 30px;
}
a,
a:hover {
  text-decoration: none !important;
}
.logout {
  float: right;
  padding-right: 30px;
}
ul {
  width: 200px;
  background: #333;
  height: 100%;

  position: fixed;
  padding-top: 5%;
  text-align: center;
}
ul li {
  list-style: none;
  font-size: 15px;
  padding-bottom: 30px;
}
ul li a {
  color: aliceblue;
  font-weight: bold;
}
ul li a:hover {
  color: blue;
  text-decoration: none;
}
.content {
  flex: 1;

  padding: 20px;
  margin-left: 30%;
}
